@{
    ViewBag.Title = "恭喜您，注册成功！账号暂未激活！";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style type="text/css">
    .reg_activate
    {
        margin: 30px 240px 0 20px;
        padding-bottom: 30px;
    }
    .reg_ok
    {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        font-weight: bold;
        color: #F60;
        background: url(/content/images/reg_ok.gif) no-repeat 0 3px;
        padding-left: 40px;
    }
    .reg_tips
    {
        color: #666;
        line-height: 1.5;
    }
    .reg_tips a
    {
        color: #0086E3;
    }
    .reg_tips a:hover
    {
        text-decoration: underline;
    }
    .kefu_online
    {
        margin: 20px 0;
    }
    .kefu_online span
    {
        margin: 0 30px 0 5px;
    }
    .reg_people
    {
        color: #666;
        font-weight: bold;
        line-height: 30px;
        border-bottom: 1px solid #DDD;
        margin-top: 25px;
    }
    .reg_avatar
    {
        margin-top: 13px;
    }
    .reg_avatar li
    {
        width: 85px;
        float: left;
        display: inline;
    }
</style>
<div class="main">
    <div class="reg_activate">
        <div class="reg_ok">
            恭喜您，注册成功！账号暂未激活！</div>
        <div class="reg_tips">
            我们正在邀请内测中，您的账号还没有进行激活，目前无法登录网站！<br />
            请联系在线客服或在线QQ进行账号激活，激活后即刻畅享游戏说的各项服务，还能团购低价游戏点卡或游戏周边产品。</div>
        <div class="kefu_online">
            <span><a href="http://chat8.live800.com/live800/chatClient/chatbox.jsp?companyID=64967&jid=1386153941&skillId=6995&enterurl=http%3A%2F%2Fwww.youxishuo.com%2FAccount%2FLogOn&tm=1310091634557"
                target="_blank">
                <img src="/content/images/kefu_online.gif" /></a></span> <span><a href="http://webchat.b.qq.com/webchat.htm?sid=2188z8p8p8p8P8x8R8K8Q"
                    target="_blank">
                    <img src="/content/images/qq_online.gif" /></a></span>
        </div>
        <div class="reg_tips">
            <a href="/RegNav/LogOn">激活后，点此登录&gt;&gt;</a></div>
        <div class="reg_people">
            他（她）们刚刚激活了账号</div>
        <ul class="reg_avatar">
            <li><a href="#">
                <img src="/content/images/avatar_1.gif" /></a></li>
            <li><a href="#">
                <img src="/content/images/avatar_2.gif" /></a></li>
            <li><a href="#">
                <img src="/content/images/avatar_3.gif" /></a></li>
            <li><a href="#">
                <img src="/content/images/avatar_4.gif" /></a></li>
            <li><a href="#">
                <img src="/content/images/avatar_5.gif" /></a></li>
            <li><a href="#">
                <img src="/content/images/avatar_6.gif" /></a></li>
            <li><a href="#">
                <img src="/content/images/avatar_7.gif" /></a></li>
            <li><a href="#">
                <img src="/content/images/avatar_8.gif" /></a></li>
        </ul>
        <div class="clear">
        </div>
    </div>
</div>
