<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>

  <configSections>


  </configSections>



  <connectionStrings>
    <add name="HelloWordEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=D:\github\MyFramework\Kt.Main\App_Data\HelloWorld.mdf;integrated security=True;connect timeout=30;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <!--hbase config begin-->
    <add key="usehbase" value="true"/>
    <add key="hbasehost" value="master"/>
    <add key="hbaseport" value="9090"/>
    <!--hbase config end-->

    <!--客户端版本-->
    <add key="UC_CLIENT_VERSION" value="1.5.2"/>
    <!--发行时间-->
    <add key="UC_CLIENT_RELEASE" value="20101001"/>

    <!--API 开关（value类型：True False 默认值：True）-->
    <!--是否允许删除用户-->
    <add key="API_DELETEUSER" value="True"/>
    <!--是否允许重命名用户-->
    <add key="API_RENAMEUSER" value="True"/>
    <!--是否允许得到标签-->
    <add key="API_GETTAG" value="True"/>
    <!--是否允许同步登录-->
    <add key="API_SYNLOGIN" value="True"/>
    <!--是否允许同步登出-->
    <add key="API_SYNLOGOUT" value="True"/>
    <!--是否允许更改密码-->
    <add key="API_UPDATEPW" value="True"/>
    <!--是否允许更新关键字-->
    <add key="API_UPDATEBADWORDS" value="True"/>
    <!--是否允许更新域名解析缓存-->
    <add key="API_UPDATEHOSTS" value="True"/>
    <!--是否允许更新应用列表-->
    <add key="API_UPDATEAPPS" value="True"/>
    <!--是否允许更新客户端缓存-->
    <add key="API_UPDATECLIENT" value="True"/>
    <!--是否允许更新用户积分-->
    <add key="API_UPDATECREDIT" value="True"/>
    <!--是否允许向UCenter提供积分设置-->
    <add key="API_GETCREDITSETTINGS" value="True"/>
    <!--是否允许获取用户的某项积分-->
    <add key="API_GETCREDIT" value="True"/>
    <!--是否允许更新应用积分设置-->
    <add key="API_UPDATECREDITSETTINGS" value="True"/>
    <!--API 开关结束-->

    <!--返回值设置-->
    <!--返回成功（默认：1）-->
    <add key="API_RETURN_SUCCEED" value="1"/>
    <!--返回失败（默认：-1）-->
    <add key="API_RETURN_FAILED" value="-1"/>
    <!--返回禁用（默认：-2）-->
    <add key="API_RETURN_FORBIDDEN" value="-2"/>
    <!--返回值设置结束-->

    <!--[必填]通信密钥-->
    <add key="UC_KEY" value="uckeyllllllllllllllllllllllll"/>
    <!--[必填]UCenter地址-->
    <add key="UC_API" value="http://192.168.0.188:8083/ucenter"/>
    <!--[必填]默认编码-->
    <add key="UC_CHARSET" value="GBK"/>
    <!--[非必填]UCenter IP-->
    <add key="UC_IP" value=""/>
    <!--[必填]应用ID-->
    <add key="UC_APPID" value="16"/>

    <!--团购网址-->
    <add key="TUANKA_URL" value="http://192.168.0.188:9595"/>
    <!--积分商城网址-->
    <add key="JIFEN_URL" value="http://192.168.0.188:8085/"/>
    <!--社区网址-->
    <add key="KATUAN_URL" value="http://192.168.0.188:9696/"/>
    <!--接口中心 注意：此参数必须与api项目里设置的应用对应一个域名 现有的qq配置的是api.tuanka.com-->
    <add key="ApiCenter" value="http://api.youxishuo.com/"/>
    <!--QQ配置的接口中心 现在公网上配置的是不同的地址，所以增加此项-->
    <add key="QQApiCenter" value="http://api.tuanka.com/"/>
    <!--团卡用户注册成功以后默认添加本用户为好友-->
    <add key="Friend_UserName" value="340209013@qq.com"/>

    <!--和社区后台保持一致，发号系统库存密码加密使用-->
    <add key="EncryptKey" value="139,117,26,230,239,17,42,137"/>
    <add key="EncryptIV" value="31,250,64,216,9,92,13,25"/>


    <!--
    ErrorLogPath
    -->
    <add key="ErrorLogPath" value="d:\Log\loginrecord"/>

    <!--图片存放地址-->
    <add key="ImageUrl" value="http://192.168.0.188:9696/Content/"/>
  </appSettings>



  <system.web>



    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />

        <!--Used to ViewEngine-->
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, publicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/RegNav/LogOn" timeout="2880" />
    </authentication>


    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <globalization fileEncoding="UTF-8" requestEncoding="UTF-8" responseEncoding="UTF-8" />
    <!--这里在未来放错误页面
    <customErrors mode="On" defaultRedirect="~/Account/Error">
      <error statusCode="403" redirect="~/Account/NoPermission"/>
      <error statusCode="404" redirect="~/Account/NoPage"/>
    </customErrors>
-->

    <customErrors mode="Off"/>

    <!--<trace  enabled="true" requestLimit="40" localOnly="false" pageOutput="true" />-->

    <sessionState  mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424"></sessionState>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="UcApiDispose" verb="GET" path="/api/uc" type="Kt.Main.Areas.GameWeiBo.Core.UcApiDispose" />
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
