@model HelloWorld.Model.TableH
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>TableH</legend>

            <input name="name" />
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
